<div class=" pull-left", style="margin: 20px; border:solid 2px ;padding: 20px !important;">
<label><h4>Registrate</h4></label>
<div ng-app="angularSpa" ng-controller="crearUsuarioCtrl">
	
	<form ng-submit="crearUsuario()">

		<div flex-container="row">
			<div flex-item>
			<br/><label for="nombre">Nombre</label><br />
			<input type="text" ng-model="form.nombre">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="apellido">Apellido</label><br />
			<input type="text" ng-model="form.apellido">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="email">Email</label><br />
			<input type="text" ng-model="form.email">
			</lx-email-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="nickname">Nickname</label><br />
			<input type="text" ng-model="form.nickname">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="password">Password</label><br />
			<input type="text" ng-model="form.password">
			</lx-password-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="direccion">Direccion</label><br />
			<input type="text" ng-model="form.direccion">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="sexo">Sexo (0 o 1)</label><br />
			<input type="text" ng-model="form.sexo">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="telefono">Telefono</label><br />
			<input type="text" ng-model="form.telefono">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="fechanacimiento">Fecha de nacimiento (aaaa/mm/dd)</label><br />
			<input type="text" ng-model="form.fechanacimiento">
			</lx-text-field>	
			</div>	
		</div>
		</br>
		</br>
 		<div class="card__actions">
			<button type="submit" class="btn btn--red btn--l btn--raised">
			Guardar
			</button>
		</div>
		</div>
	</form>	
</div>
</div>