<div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="-33.450794, -70.688137">Industrias</option>­
      <option value="-33.451104, -70.690723">Estadio Usach</option>
      <option value="-33.449465, -70.684745">Entrada Centro medico</option>
    </select>
    <b>End: </b>
    <select id="end">
      <option value="-33.450794, -70.688137">Industrias</option>­
       <option value="-33.451104, -70.690723">Estadio Usach</option>
      <option value="-33.449465, -70.684745">Entrada Centro medico</option>

      
    </select>
    </div>
    <div id="map"></div>
    